.home-title{
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
}

.navigation {
  background: #2196F3;
  padding: 30px;
}

.navigation a {
  padding: 10px 40px;
  margin: 10px;
  text-decoration: none;
  color: white;
  background: #FF9800;
  border-radius: 10px;
}